<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="/stylesheets/admin.css">

<h1>Add New Art Piece</h1>

<form action="/art" method="post">
    <label>ID
        <input type="number" name="id" required>
    </label>
    <label>Title
        <input type="text" name="title">
    </label>
    <label>Description
        <textarea rows="4" cols="26" name="description"></textarea>
    </label>
    <label>Artist
        <input type="text" name="artist">
    </label>
    <label>About Artist
        <textarea rows="4" cols="26" name="about_artist"></textarea>
    </label>
    <button>Add piece</button>
</form>

</html>
